<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="digital-tab" data-toggle="tab" href="#Digital" role="tab" aria-controls="home" aria-selected="true">Digital</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="guitar-tab" data-toggle="tab" href="#Guitar" role="tab" aria-controls="profile" aria-selected="false">Guitar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="effector-tab" data-toggle="tab" href="#Effector" role="tab" aria-controls="contact" aria-selected="false">Effector</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active py-2" id="digital" role="tabpanel" aria-labelledby="digital-tab">
    <%= render 'layouts/retrieving' %>
  </div>
  <div class="tab-pane fade" id="guitar" role="tabpanel" aria-labelledby="guitar-tab">
  </div>
  <div class="tab-pane fade" id="effector" role="tabpanel" aria-labelledby="effector-tab">
    <%= render 'layouts/retrieving' %>
  </div>
</div>
