<footer class="footer">
  <small>
      <%= link_to "楽器 Price Hist", pricehists_path, {:class => "text-secondary"} %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "about",   '#', {:class => "text-secondary"} %></li>
      <li><%= link_to "contact", '#', {:class => "text-secondary"} %></li>
    </ul>
  </nav>
</footer>
