<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="text-black text-center py-3 row">
    <h3 class="mb4">
      <%= link_to "楽器 Price Hist", pricehists_path, {:class => "text-secondary"} %>
    </h3>
  </div>
  <nav>
    <ul class="text-secondary">
      <li><%= link_to "about",    '#', {:class => "text-secondary"} %></li>
      <li><%= link_to "contact",  '#', {:class => "text-secondary"} %></li>
    </ul>
  </nav>
</header>
