<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="text-black text-center py-3">
    <h3 class="display-5 mb4">
      <%= link_to "楽器 Price Hist", digitalitems_path %>
    </h3>
  </div>
  <nav>
    <ul>
      <li><%= link_to "about",    '#' %></li>
      <li><%= link_to "contact",    '#' %></li>
    </ul>
  </nav>
</header>
