<%= form_tag(:check_digitalitems, method: "get") do %>

  <%= select_tag(:q, options_for_select([['2018年09月30日', 20180930],['2018年10月01日', 20181001],['2018年10月02日', 20181002],])) %>
  <button class="btn btn-primary btn-sm"><%= submit_tag("Check") %></button>

<% end %>
