<%= form_tag(:check_digitalitems, method: "get") do %>

  <%= select_tag(:q, options_for_select([['2018年10月05日', 20181005],['2018年10月06日', 20181006],])) %>
  <button class="btn btn-primary btn-sm"><%= submit_tag("Check") %></button>

<% end %>
